h1 {
  text-align: center;
  padding-bottom: 30px;
  font-family: 'Raleway', sans-serif;
}

tr {
  height: 500px;
}

th {
  width: 250px;
  background-color: red;
  border: 10px solid white;
}

#one {
  background-color: #067BC2;
}

#two {
  background-color: #84BCDA;
}

#three {
  background-color: #ECC30B;
}

#four {
  background-color: #F37748;
}

#five {
  background-color: #D56062;
}
